/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



    /* Homepage */
/*header{
    position: relative;
    z-index: 2;
}
header .header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}*/

div.container-video{
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
z-index: 0;
top: 0;
opacity: 0.5;
}
div.container-video video{
min-width: 100%;
min-height: 100%;
}


    /* Nav */

nav ul li{
display: inline-block;
position: relative;
margin-top: 50px;
}
ul li a{
	position: relative;
}
ul li a:hover:before{
	content: '•';
	width: 2px;
	height: 2px;
	position: absolute;
	left: -10px;
	top: -3px;
}


    /* Social Media */
div.social-media{
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  margin-left: 40px;
  width: 50%;
}
div.social-media ul li{
  display: inline-block;
  position: relative;
}
ul li a{
  font-size: 12px;
  line-height: 26px;
  font-family: Opensans;
  color: white;
  text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;

}




    /* Ad */
section#ad, section#cm{
  background-image: url(../img/background.png);
	height: 200vh;
}
section#ad div.artiste img, section#cm div.artiste img{
  position: relative;
}
<<<<<<< HEAD
section#ad p{
	font-family: OpenSans;
	font-size: 16px;
	color: white;
}
=======
>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558



  /* Slider */

div.slick-initialized .slick-slide{
	margin: 60px 60px 60px 60px;
}
div.slick-track{
	height: 60vh;
}
section#ad div.container-1{
	background-image: url(../img/clairvoyant.png);
	background-size: 100%;
	background-position: center;

}
section#ad div.container-2{
	background-image: url(../img/tim-dup.png);
	background-size: 100%;
	background-position: center;
}
section#ad div.container-3{
	background-image: url(../img/fauve.png);
	background-size: 100%;
	background-position: center;
}
section#cm #player-1{
	background-image: url(../img/coda.png);
	background-size: 100%;
	background-position: center;
	position: relative;
<<<<<<< HEAD
=======

>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558
}
section#cm #player-2{
	background-image: url(../img/hedera.png);
	background-size: 100%;
	background-position: center;
<<<<<<< HEAD
	position: relative;
=======
>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558
}
section#cm #player-3{
	background-image: url(../img/meduse.png);
	background-size: 100%;
	background-position: center;
<<<<<<< HEAD
	position: relative;
=======
>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558
}


  /* About */
  section#about{
    background-image: url(../img/about.png);
    background-size: 100%;
		height: 100vh;
<<<<<<< HEAD
=======
		z-index: 0;
>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558
  }
  section#about div.about {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  }
<<<<<<< HEAD
	section#about div.bkg{
	background-color: black;
	opacity: 0.6;
	z-index: 5;
	height: 100vh;
}
=======
>>>>>>> 7883cc7b1802195b49a8e9e4aa9acdab7d8f1558
  /*section#about div.about article.item{
  padding: 40px;
  }
  section#about div.about article.item.presentation{
  width: 70%;
  }
  */section#about div.about article.item.distinction{
  margin-left: 120px;
  }
  section#about div.about article.item h1 {
  color: white;
  font-size: 20px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 24px;
  }
  section#about div.about article.item h2{
  color: white;
  font-size: 16px;
  font-family: OpenSans;
  text-transform: uppercase;
  line-height: 24px;
  }
  section#about div.about article.item p{
    color: white;
    font-size: 14px;
    font-family: OpenSans;
    line-height: 20px;
  }

/* Video */

iframe#player{
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
}
.slick-slide img{
	position: absolute;
	top: 50%;
	height: 50px;
	width: 50px;
	top: calc(50% - 25px);
  left: calc(50% - 25px);
	cursor: pointer;

}
